* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #2C3E50;
}

.header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.header .container h1 {
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .container ul {
    display: flex;
    list-style: none;
}

.header .container ul li {
    justify-content: space-around;
    color: aliceblue;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 10px;
}



.bootstrap {
    width: 100%;
    height: 100vh;
    background-color: #1ABC9C;
    display: flex;
    align-items: center;
}

.bootstrap .about {
    width: 50%;
    margin: auto;
    color: white;
}

.bootstrap .about .photo {
    width: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.bootstrap .about h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bootstrap .about span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.bootstrap .about p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


.portfolio .star {
    text-align: center;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2C3E50;

}

.portfolio.star i {
    font-size: 20px;
}

.portfolio .sections {
    width: 90%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.portfolio .sections .box {
    width: 30%;
    height: 250px;
    margin: 15px;
    border-radius: 10px;
    position: relative;
}

.portfolio .sections .box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.portfolio .sections .box .overlay {
    width: 100%;
    height: 100%;
    background-color: #1abc9cb7;
    border-radius: 10px;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.portfolio .sections .box:hover .overlay{
visibility: visible;
opacity: 1;
}